<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addDoctor</title>
</head>
<body>
<h2> Add Doctor for hospital </h2>
<form action="/doctor/add" method="post">
    Name: <input type="text" name="name"><br>
    Surname: <input type="text" name="surname"><br>
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    Birth date: <input type="date" name="birthDate"><br>
    Speciality:  <input type="text" name="speciality"><br>
    Phone numb:  <input type="text" name="phoneNumber"><br>
    <input type="submit" value="create">
</form>
</body>
</html>