<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL Doctors</title>
</head>
<body>

<table border="1px">
    <tr>
        <th>picture</th>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>speciality</th>
        <th>email</th>
        <th>action</th>
    </tr>

    <tr th:each="doctor: ${doctors}">
        <td>
            <img th:if="${doctor.picName != null}" th:src="@{/getImage(imageName=${doctor.getPicName()})}" width="100"/>
            <img th:if="${doctor.picName == null or doctor.picName.equalsIgnoreCase('null')}" th:src="@{/img.png}"
                 width="100">
        </td>
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.name}"></td>
        <td th:text="${doctor.surname}"></td>
        <td th:text="${doctor.speciality}"></td>
        <td th:text="${doctor.email}"></td>
        <td><a th:href="@{/doctor/remove(id = ${doctor.id})}">Remove</a></td>
    </tr>
</table>
<a th:href="@{/doctor/add}">Register</a>
</body>
</html>