<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addDoctor</title>
</head>
<body>
<h2> Add User for hospital </h2>
<form action="/add/user" method="post">
    Name: <input type="text" name="name"><br>
    Surname: <input type="text" name="surname"><br>
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    RegisterDate: <input type="datetime-local" name="registerDate"><br>
    Birth date: <input type="date" name="birthDate"><br>
    <input type="checkbox" name="isAdmin" value="true">
    Picture:  <input type="text" name="profilePic"><br>
    <input type="submit" value="create">
</form>
</body>
</html>